In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
from IPython.display import display 

import spacy

In [3]:
folder = os.path.join(os.getcwd(), "data", "texts")
files = [os.path.join(root, f) for root, _, files in os.walk(folder) for f in files if f.endswith(".docx")]

In [5]:
from src.pipelinelib.querying import Parser, Queryable

nlp = spacy.load("de_core_news_sm", disable=["ner", "parser"])
parser = Parser(nlp=nlp, metadata_path="./data/transcripts/Kopie von Transkriptionspaare_Daten.xls")

parser.read_from_files(files)

In [6]:
display(parser.frame)

Empty DataFrame
Columns: [document_id, paragraph_id, sentence_id, couple_id, speaker, gender, is_depressed_group, depressed_person, text]
Index: []

In [8]:
from src.pipelinelib.querying import Parser, Queryable
from src.pipelinelib.text_body import TextBody

queryable = Queryable.from_parser(parser)

In [9]:
document_df = queryable.execute(level=TextBody.DOCUMENT)
display(document_df)

=== Queryable is executing on Document level, query = '' ===

Empty DataFrame
Columns: [document_id, couple_id, is_depressed_group, depressed_person, text]
Index: []

In [40]:
paragraph_df = queryable.execute(level=TextBody.PARAGRAPH)
display(paragraph_df)

=== Queryable is executing on Paragraph, query = '' ===

,document_id,paragraph_id,couple_id,speaker,gender,is_depressed_group,depressed_person,text
0,0,0,27,A,M,True,W,Positive Gefühle.
1,0,1,27,B,W,True,W,"Ja, positive Gefühle können bei mir auslösen w..."
2,0,2,27,A,M,True,W,"Zuwendung, das ist ja, Zuwendung, wir beide, ..."
3,0,3,27,B,W,True,W,"Wir lieben beide Kinder, [A:. Ja] und die lieb..."
4,0,4,27,A,M,True,W,"Es tut gut, und mir tut´s auch gut sie zu beha..."
...,...,...,...,...,...,...,...,...
752,9,103,87,B,W,False,None,"Ja, sich nur über positives zu unterhalten."
753,9,104,87,A,M,False,None,"Ja, stimmt.. Negative Sachen wirft man sich of..."
754,9,106,87,A,M,False,None,"Du bist witzig, du kannst witzig sein.. Ich ma..."
755,9,107,87,B,W,False,None,Danke.
756,9,108,87,A,M,False,None,"Ja… Ich find´s gut, dass du ein Instrument spi..."

In [30]:
sentence_df = queryable.execute(level=TextBody.SENTENCE)
display(sentence_df)

queryable.execute(level=TextBody.SENTENCE)

=== Queryable is executing on Sentence level, query = '' ===

Empty DataFrame
Columns: [document_id, paragraph_id, sentence_id, couple_id, speaker, gender, is_depressed_group, depressed_person, text]
Index: []

=== Queryable is executing on Sentence level, query = '' ===

Empty DataFrame
Columns: [document_id, paragraph_id, sentence_id, couple_id, speaker, gender, is_depressed_group, depressed_person, text]
Index: []

In [29]:
pgs = queryable.by_couple_id(couple_id=27) \
    .is_depressed(d=False) \
    .execute(level=TextBody.DOCUMENT)
display(pgs)

=== Queryable is executing on Document level, query = '(couple_id == 27) and (is_depressed_group == False)' ===

Empty DataFrame
Columns: [document_id, couple_id, is_depressed_group, depressed_person, text]
Index: []